{% extends 'layouts/default.twig' %}

{% block content %}
<div>
    <h2>Welcome to Ions Framework</h2>

    <a href="/" data-link="page">Home</a>
    <a href="/blog" data-link="page">Blog</a>
    <a href="/contact" data-link="page">Contact Us</a>
    <a href="/admin">Dashboard</a>

    <h1>Contact Page</h1>
<div>
{% endblock %}