{% extends 'layouts/default.twig' %}

{% block content %}
<div>
    <h2>Welcome to Ions Framework</h2>

    <a href="/" data-link="page">Home</a>
    <a href="/blog" data-link="page">Blog</a>
    <a href="/contact" data-link="page">Contact Us</a>
    <a href="/admin">Dashboard</a>

    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </thead>
        <tbody>
            <td></td>
        </tbody>
    <table>

    <div>
    <a href="/content" data-link="one">Change One<a/>
        <p id="ions-content-one">
            This is just a content page nothing much is going on here.
        </p>
    </div>
<div>
{% endblock %}