{% extends 'layouts/default.twig' %}

{% block content %}
<div>
    <h2>Welcome to Ions Framework</h2>

    <a href="/" data-link="home">Home</a>
    <a href="/blog" data-link="blog">Blog</a>
    <a href="/contact" data-link="contact">Contact Us</a>
    <a href="/admin">Dashboard</a>

    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </thead>
        <tbody>
            <td></td>
        </tbody>
    <table>
<div>
{% endblock %}